 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
 </head>
 <body>
    <h2>Courses</h2>
<a href="/courses/new">Add Course</a>
<a href="/logout">Logout</a>

<ul>
    <% courses.forEach(c => { %>
        <li>
            <%= c.courseName %> - <%= c.duration %> - <%= c.fee %>
            <a href="/courses/<%= c._id %>/edit">Edit</a>
            <a href="/courses/<%= c._id %>/delete">Delete</a>
        </li>
    <% }) %>
</ul>
    
 </body>
 </html>